@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Open+Sans:wght@300;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(133, 116, 70);
    font-family: "Dosis", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.img_logo {
    width: 25%;
}
.form_cocktail {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    height: 20%;
}
.form_cocktail .input_cocktail {
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    background-color: #61876e;
    color: #fffcf5;
}
::placeholder {
    color: #fffcf5;
}
.form_cocktail .btn_cocktail {
    border: none;
    background-color: #61876e46;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.searchCocktail {
    width: 40px;
    padding: 2px;
}
section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 4rem;
    width: 100%;
}
.card_cocktail {
    display: flex;
}
.card_body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.App .img_no {
    position: absolute;
    right: 450px;
    width: 40%;
}
@media (max-width: 992px) {
    section {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }
    .App .img_no {
        right: 200px;
        width: 50%;
    }
}
@media (max-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
    .img_logo {
        width: 40%;
    }
    .App .img_no {
        right: 150px;
        width: 50%;
    }
}
@media (max-width: 480px) {
    section {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }
    .img_logo {
        width: 50%;
    }
    .App .img_no {
        right: 100px;
        width: 50%;
    }
}
